.catalog_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

h1 {
  margin-top: 20px;
}

.catalog_title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
