.delivery_container {
  margin: 50px 30px;
}

.text_container {
  margin-top: 50px;
}

.text_container ul {
    padding: 0;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
