.catalog_item {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    gap: 10px;
}

.catalog_buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}